p {
	font-size: 2rem;
	padding: 10px;
	background: #fafafa;
	color:orange;
}
p+p {
	color:slategray;
}
input {
	margin: 0 10px 10px;
}
div {
	width: 450px;
	height: 250px;
	margin-left: 10px;
	background: #fafafa;
}
input[type='button'] {
	margin-top: 20px;
	padding: 5px;
}

