
.order input {
	margin:20px 10px 5px;
	padding-left: 10px;
}
.form {
	width: 450px;
	height: 150px;
	margin-left: 10px;
	
}
.list {
	position: relative;
	width: 350px;
	top:50px;
}
.wrapBtn {
	position: absolute;
	left:350px;
	bottom: 120px;
}
.addBtn {
	position: right;
	padding: 5px;
}
.delBtn {
	padding: 5px;
	margin-top: 15px;
	margin-left: 20px;
}

table {
	border:1px solid red;
	border-spacing: 8px 24px;
	margin-left: 10px;

}
td, th {
	padding: 8px
}

