
.order input {
	margin:20px 10px 5px;
	padding-left: 10px;
}
.form {
	width: 450px;
	height: 150px;
	margin-left: 10px;
	
}
.order .addBtn {
	margin-top: 20px;
	padding: 5px;
}
.list {
	background: #fafafa;
}
.list ul {
	margin: 20px;
	padding:20px;
}
